@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#052E47, #02192c, #010F19);
    height: 100vh;
}
nav{
    display: flex ;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    max-width: 7em;
    position: fixed;
    background-color: #00101D;
    border-right: 0.1em solid #FFFFFF;
    padding: 0.5em;
}
nav a{
    text-align: center;
    margin-top: 1em;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    gap: 4em;
}
header img{
    width: 3em ;
}
header img#moovie {
    width: 3.6em ;
}
header img#logo {
    width: 5em ;
}
h1{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-left: 24em;
}

article{
    margin-top: 10em;
    margin-left: 45em;
    margin-bottom: 5em;

    color: #FFFFFF;
    background-color: #315C77 ;
    text-align: center;
    padding: 4.5em;
    height: 30em;
    width: 25em;
}
p{
    margin-top: 1em;
    margin-bottom: 2em;
    font-family: 'Poppins';
}
h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    margin-top: 1.5em;
}
input{
    width: 18em;
    height:3em;
    border: 0.1em solid #FFFFFF;
    background-color: #315C77;
}
.button{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1em;
    background-color: #383838;
    border-radius: 0.8em;
    border-bottom: 0.1em solid #FFFFFF;
    border-right: 0.1em solid #FFFFFF;
    
    margin-bottom: 2em;
    margin-top: 3em;
    margin-left: 48em;
    width: 19em;
    padding: 1.3em;
    display: block;
    text-align: center;
}