@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#052E47, #02192c, #010F19);
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
}
article{
    margin-top: 3em;
    margin-bottom: 3em;

    color: #FFFFFF;
    background-color: #315C77 ;
    text-align: center;
    padding: 1em;
    height: 38em;
    width: 30em;
}
h3{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    margin-top: 0.4em;
}
input{
    width: 25em;
    height:3em;
    border: 0.1em solid #FFFFFF;
    background-color: #315C77;
}
.sinopse{
    width: 25em;
    height:8.8em;
    border: 0.1em solid #FFFFFF;
    background-color: #315C77;
}
/* .button{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 1em;
    background-color: #383838;
    border-radius: 0.8em;
    border-bottom: 0.1em solid #FFFFFF;
    border-right: 0.1em solid #FFFFFF;
    
    margin-bottom: 2em;
    margin-top: 5em;
    margin-left: 48em;
    width: 19em;
    padding: 1.3em;
    display: block;
    text-align: center;
} */
main a.button {
    background: rgba(56, 56, 56, 0.15);
    color: #ffffff;
    text-decoration: none;
    font-family: "Abel";
    font-size: 1.5em;
    border: 0.1em solid #ffffff;
    border-radius: 15px;
    padding: 1em;
    display: block;
    margin-top: 1em;
    text-align: center;
    /* position: absolute; */
    width: 432px;
    height: 73px;
    /* top: 642px; */
  }